@use "sass:color";
@use "apprise-ui/common.scss";

.dataview-card {

    padding: 10px 15px;
    border: 1px solid common.$text-color-tinted;
    border-radius: 8px;
    border-left: 3px solid common.$text-color-tinted;
    background: #fafafa;


    display: flex;
    align-content: flex-start;

    .card-contents {

        flex-grow: 1;

        display: flex;
        flex-direction: column;

        .dataview-label {

            .label-icon {

                font-size: 26px;
            }

            font-weight: 300;
            font-size: 20px;

            .apprise-link {

                display: grid; // required to activate text-overflow of .label-title child.
            }

            .label-title {

                text-overflow: ellipsis;
                overflow: hidden;
                white-space: nowrap;
            }


        }

        .card-btns {


            margin-top: 15px;

            display: flex;
            align-items: center;


            .apprise-button button {
                border-radius: 6px;
            }
            
            .apprise-button + .apprise-button {

                margin-left: 5px;
            }

        }

    }

    .card-bar {

        opacity: 0;
        display: flex;
        flex-direction: column-reverse;
        padding: 0px 10px;


        .card-btn {

            margin-left: auto;

            svg {
                color: common.$text-color-lighter;
                font-size: 22px;
            }

            &:hover {
                cursor: pointer;

                svg {
                    color: common.$primary-color;
                }
            }

            &.card-btn-disabled {

                pointer-events: none;
                opacity: .6;
            }
        }
    }

    &:hover, &.dataview-selected {

        .card-bar {

            opacity: 1;
        }

        background: color.adjust(common.$text-color-tinted, $lightness: 8%);
        transition: background-color ease-in-out .2s;


    }



    &.dataview-unselected {

        opacity: .5
    }


    &.dataview-predefined {

        border-left-color: common.$primary-color;

        //     .dataview-label {

        //         .label-icon {


        //         }

        //         .label-title {

        //         }
        //    }
    }

    +.dataview-card {

        margin-top: 10px;

    }
}




.card-description {

    overflow: hidden;
    transition: max-height ease-in-out .2s, margin-top ease-in-out .2s;
    margin-top: 0px;

    color: common.$text-color-lighter;
    flex-grow: 1;

    white-space: pre-wrap;

    width: 90%;
}


.dataview-card.card-mode-compact {


    .card-description {

        max-height: 0px;

    }

    .card-bar {

        display: flex;
        flex-direction: row;
        align-items: center;

        .card-btn + .card-btn {

            margin-left: 5px;
        }
    }

}


.dataview-card.card-mode-full {

    .card-description {

        max-height: 110px; // matches 5 line-max crop below.

        margin-top: 10px;

        .apprise-tooltip div {

            overflow: hidden;

            -webkit-line-clamp: 5;
            display: -webkit-box !important;
            -webkit-box-orient: vertical;
        }

    }

    .card-bar {

        .card-btn + .card-btn {

            margin-bottom: 5px;
        }

    }

}