@use "sass:color";
@use "apprise-ui/common.scss";


.analytics-views {


    .page-main-content {

        overflow: auto;
        margin: 20px;
        border-radius: 8px;

        padding: 15px 15px 30px 15px;

        background: color.adjust(common.$text-color-tinted, $lightness: 10%) !important;

        box-shadow: 0 0 8px 4px common.$text-color-tinted;

        .ant-spin-container {

            overflow: auto;

        }
    }

    .view-selector.no-tabs {

        margin-left:auto; 
        padding-left:10px;
    }

}

.view-contents {

    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    visibility: visible;
}

.view-hidden {

    //display: none;
    visibility: hidden;
}

.report-view {

    height: 100%;

    .viewframe {

        flex-grow: 1;

        width: 100%;
        height: 100%;

        border: none;
        display: block;

    }


}

@media (max-width: 900px) {

    .view-ctrls-right {

        display: none;

   }
}