@use "apprise-ui/common.scss";

.task-card {


    padding: 5px 10px;


    background: common.$text-color-selected;
    border-radius: 8px;


    text-transform: lowercase;
    font-variant: small-caps;

    display:flex;

    opacity: 1;
    transition: opacity .4s ease-in;


    .card-content {
        flex-grow: 1;
        overflow: hidden;
        padding-right: 10px;
    }

    .card-btns {

        visibility: hidden;
        align-self: center;
    }

    &:hover {

        .card-btns {
            visibility: visible;
        }
    }

    .card-title {

        font-size: 14px;
    }

    .card-subtitle {

        color: common.$text-color-lighter;
        font-size: 12px;

    }

    .card-subtitle, .label-title {
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }


    +.task-card {
        margin-top: 5px;
    }

    &.card-idle {

        opacity: .2;
    }

    &.card-inprogress {

        opacity: .6;
    }

    &.card-failed {

        color: orangered;
    }

    &.card-stopped .card-title {

        text-decoration: line-through;
        color:common.$text-color-lighter;
    }


}

.threshold-warning {

    font-size: small;
    text-align: center;
    padding: 20px;
    white-space: pre;
    margin: 20px 10px;
    border-radius: 10px;
    background-color: common.$text-color-selected;
    color: orangered;
}