@use "apprise-ui/common.scss";

.edit-panel {

    .view-item {

        width:100%;
        display: flex;
        align-items: center;

        
        background: common.$text-color-selected;
        border-radius: 6px;

        .field-main {

            overflow: hidden;

            .field-main-input-grp, .field-main-input {

                width: 100%;
            }
        }

        .item-handle {
        
            align-self: stretch;
        
            border-top-left-radius: 6px;
            border-bottom-left-radius: 6px;

            background-color: common.$text-color-tinted;
        
            display: flex;
            flex-direction: column;
            justify-content: center;
            
            svg { 
                margin: 0px 3px;
                color: common.$primary-color;            
            }

        }

        .ant-select-selector {

            border-top-left-radius: 0px;
            border-bottom-left-radius: 0px;
        }


        .view-item-contents {

            padding: 10px;

            width: 100%;
            overflow: hidden;
            

            .field-label-item {
                min-width: 70px;
                text-align: right;
            }
            
        }
    }

}