@use "apprise-ui/common.scss";

.dataview-list {

    .list-ctrls {

        padding: 0px 0px 15px 18px;

        display: flex;
        align-items: center;
        justify-content: space-between;

        .apprise-button.apprise-button-link {


            * {

                font-variant: small-caps;
                font-size: 13px;
            }
        }

        .ctrls-left {

            
            margin-right: auto;

        }

        .ctrls-center {

            display: flex;
            align-items: center;
        }

        .ctrls-right {

            margin-left: auto;
        }
    }


    // forces vertical scrollbar to keept horizontal center even if there are few or no results.
    .page-scroller {
        overflow-y: scroll !important;
    }

    .dataview-search {

        display: flex;
        align-items: center;
        justify-content: center;

        .apprise-textbox {

            svg {

                color: common.$primary-color;
            }


        }
    }



    .apprise-choicebox * {
        
        color: common.$text-color-lighter;

        font-size: small;
        font-variant: small-caps;
    
    }

    .apprise-switchbox * {
        
        font-variant: small-caps;
    
    }
    
    .table-counter {

        margin-right: 8px;

        .filter-badge {

            .ant-badge-count {
                width: 35px;
                min-height: 30px;
                height: 30px;
                line-height: 30px;
                border-radius: 5px;
                background: common.$success-color;
            }

            &.filter-active .ant-badge-count {
                box-shadow: 0 0 8px 1px #5f9ea0;
            }
        }



    }

    .locked-params {

       display: flex;
        align-items: center;

        font-variant: small-caps;
        color: common.$text-color-lighter;

        .locked-param-list {

            margin-left: 5px;

            display: flex;
            align-items: center;
            
            .locked-param {

                margin-left:1px;
            }
    

        }

    }


    .locked-params + .apprise-button {

        margin-left: 15px;

    
    }

    .lock-btn-suffix {

        margin-left: 1px;
     
        button {
            border-radius: 0px;
            border-top-right-radius: 6px;
            border-bottom-right-radius: 6px;

            padding: 0px 4px;
        }
    }

    .topbar-right .apprise-button.download-inprogress button {

        filter: sepia(.4);
    }
}