@use "apprise-ui/common.scss";




// hides inner scrolling, without disabling it. 
*::-webkit-scrollbar {
    display: none;
}

.EmbedFrame-header {

    padding-top: 10px !important;
    padding-bottom: 10px !important;
    border-bottom: none !important;
}

.nosort {

    th {

        pointer-events: none;
    } 
}

td span {

    pointer-events: none;
} 

main > div > div > div {

    border: none !important;
    margin-top: 0px !important;
}

// no watermark
footer {

    border:none !important;
   
}

// hides default loading visuals (dashboard-wide).
//[data-testid="status-root-container"],                         Donwload confirm popup.      
[data-testid="loading-indicator"],   // changed since v50        Loading icon.
[data-testid="loading-indicator"] + h2 {   // added since v50..  Loading header

    display: none !important;


}

#root {

    display: inline-block;
    position: fixed;
    width: 100%;
    height: 100%;

}

.Icon-chevronup, .Icon-chevrondown {

    width: 0px;
    pointer-events: none;
 
}

fieldset:has(input[placeholder="sorting" i]) {

    display: none;
}

.totals-cell {

    background: rgba(135, 188, 236, 0.2);
}

fieldset:has(div.param-locked) {

    filter: grayscale(1) opacity(.4);
    pointer-events: none;

    .Icon{

        display: none !important;
     
    }
}


div[data-testid="dashboard-parameters-widget-container"] > div {

    margin-top: 0px !important;
}

div[data-testid="visualization-root"] > div {


    padding-bottom: 0px !important;
}

.Icon-ellipsis  {

    visibility: visible !important;
    opacity: 1 !important;
    border-radius: 50%;
    width: 20px;
    height:20px;
    margin-top: 4px;
    margin-right: 3px;

    &:hover {

        color: common.$primary-color;
    }

    
}